.card-header {
    background-color: #188A8C;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

.card-body {
    background-color: #E6CBB3;
}

.card-body label {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-check-input {
    transform: scale(1.3);
}

.form-check-input:checked{
    background-color: #188A8C; 
    border-color: white;
}

#submit{
    width: 150px;
}

#submit:hover {
    background-color: #188A8C; /* Change to the desired hover background color */
    border-color: #188A8C;
    color: white; /* Change to the desired hover text color */
}