<h2 class="title">Întrebări frecvente</h2>
<br/>
<div id="faq-section" class="container-fluid">
    <div class="row">
      <!-- Prima jumătate - Întrebările din acordeon -->
      <div class="col-md-6" id="questions">
        <h3 class="fs-2">Achiziții bilete</h3>
        <div ngbAccordion class="section">
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Cum pot să cumpăr bilete pentru un concert?</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>Puteți cumpăra bilete pentru concerte direct de pe site-ul nostru. Accesați pagina evenimentului dorit, selectați numărul de bilete și urmați pașii pentru finalizarea achiziției.</ng-template>
                </div>
              </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Pot să achiziționez bilete fără a fi înregistrat?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Pentru a achiziționa bilete trebuie să vă creați un cont pe site. Acest proces asigură o experiență personalizată și facilitează gestionarea biletelor achiziționate.</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Pot să văd evenimentele disponibile fără a fi înregistrat?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Da! Puteți vizualiza lista cu evenimente disponibile fără a avea un cont. Accesați pagina principală pentru a explora evenimentele.</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Care sunt modalitățile de plată acceptate?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Acceptăm diverse metode de plată, inclusiv carduri de credit/debit și opțiuni de plată online securizate.</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Cum pot accesa biletele mele după achiziție?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Biletele vor fi disponibile în contul dvs. de utilizator. Accesați secțiunea "Biletele mele" și descărcați-le sau imprimați-le pentru a avea acces la eveniment.</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem class="element">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Ce se întâmplă dacă evenimentul este anulat sau am nevoie să-mi schimb planurile?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>În cazul în care evenimentul este anulat, veți primi o notificare și veți avea opțiunea de a solicita rambursarea integrală sau de a alege alte opțiuni disponibile. Verificați politica noastră de rambursare pentru mai multe detalii.</ng-template>
                  </div>
                </div>
              </div>
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Pot să cumpăr bilete pentru mai multe evenimente într-o singură comandă?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Da! Puteți adăuga bilete pentru mai multe evenimente în coșul de cumpărături și să le achiziționați într-o singură tranzacție.</ng-template>
                  </div>
                </div>
              </div>
        </div>

        <br/>
        <h3 class="fs-2">Contul meu</h3>
        <div ngbAccordion class="section_last">
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Cum pot să-mi creez un cont?</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>Accesați pagina de înregistrare și completați formularul cu informațiile solicitate. Apăsați butonul "Înregistrează-te" pentru a finaliza procesul.</ng-template>
                </div>
              </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>De ce trebuie să îmi creez un cont pentru a cumpăra bilete?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Crearea unui cont vă oferă posibilitatea de a accesa ușor istoricul comenzilor, de a primi notificări despre evenimente viitoare și oferte speciale și de a facilita procesul de achiziție a biletelor.</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Pot să-mi creez un cont folosind contul de social media?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Da! Aveți opțiunea de a vă înregistra sau conecta contul folosind conturile de social media, cum ar fi Facebook sau Google, pentru a face procesul mai rapid și mai ușor</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Ce se întâmplă dacă îmi uit parola?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Accesați pagina de autentificare și utilizați opțiunea "Ai uitat parola?" pentru a primi instrucțiuni despre resetarea parolei prin e-mail.</ng-template>
                  </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>Care sunt beneficiile de a avea un cont?</button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>Prin crearea unui cont, veți avea acces la funcții precum gestionarea biletelor, urmărirea evenimentelor preferate și primirea de oferte personalizate.</ng-template>
                  </div>
                </div>
            </div>
        </div>
      </div>
  
      <!-- A doua jumătate - Poză -->
      <div class="col-md-6">
        <!-- Adaugă aici poza ta -->
        <img src="../../../assets/images/faq.png" alt="Faq Image">
      </div>
    </div>
  </div>
  
