.title{
    display: flex;
    justify-content: center;
    margin: 2%;
}

h3{
    margin-bottom: 2%;
    padding-left: 2%;
}

#questions{
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.section{
    margin-bottom: 5%;
}

.section_last{
    margin-bottom: 80px;
}

img{
    max-width: 75%;
    margin-left: 10%;
    margin-right: 10%;
}

#faq-section{
    margin-top: 60px;
}

[ngbAccordionHeader] {
    margin: 0;
    padding: 0;
  }

button[ngbAccordionButton]{
    background-color: #188A8C;
    color: white;
    font-size: large;
}

[ngbAccordionBody]{
    background-color: #EEE2DC;
    font-size: 16px;
}