/* my-tickets.component.css */
.container {
    padding: 20px;
  }
  
  .button-group {
    margin-bottom: 20px;
  }
  
  .button-group button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  .button-group button.active {
    background-color: #188A8C;
    color: #fff;
  }
  .button-group button:hover {
    background-color: #116466; 
    color: #fff;
  }

  
  .event-table ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
  }
  
  .event-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .event-table th {
    border: 3px solid #DBB594;
    padding: 8px;
    text-align: center;
    background-color: #DBB594;
  }
  
  .no-events {
    margin-top: 20px;
    font-style: italic;
    color: #888;
  }
  

.event-table tbody tr {
  background-color: #E6CBB3; 
  text-align: center;
  border: 3px solid #DBB594;
}


.event-table button {
  background-color: #188A8C;
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;

}

.event-table button:hover {
  background-color: #116466;
}